{% extends "main/base.html" %}

{% load static %}

{% block content %}

{% if ConfigurationFieldValues != "" %}

<div style="padding-top: 2%; padding-left: 3%; padding-right: 3%;">
  {% for s in ConfigurationFieldValues %}
    <table class="table" style="background-color: whitesmoke; ">
        <tbody>
          <tr>
            <td>{{s.nombre_campo}}</td>
            <td>{{s.area_cubierta}} Hectareas cubiertas</td>
            <td>Cultivo: {{s.cultivo}}</td>
            <td>Lugar: {{s.ciudad}} ({{s.provincia}})</td>
            <td>Cantidad de Sensores detectados: {{s.cantidad_sensores}}</td>
          </tr>
        </tbody>
      </table>
  {% endfor %}

  <table class="table">
    <title>Estado de los nodos en la ultima medición</title>
    <tbody>
      <tr>
        <th scope="row">Sensores</th>
        <td>ID</td>
        <td>Humedad</td>
        <td>Bateria</td>
        <td>Estado</td>
        <td>Tiempo de Muestreo [s]</td>
        <td>Cambiar Tiempo</td>
      </tr>

      {% for key, value in sensorsData.items %}
      <tr>
        <td scope="row">Sensor {{ key }} </th>
        <td> {{ value.sensorId }} </td>
        <td> {{ value.humedad }} %</td>
        <td> {{ value.bateria }} %</td>
        <td> {{ value.estado }} </td>
        <td> {{ value.tiempoMuestreo }} </td>
        <td> <input type="button" value="Cambiar Tiempo"> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}

  <div style="background-color: whitesmoke;">
    <h1 style="text-align: center; text-decoration: black; font-size: x-large;">Dirigase al panel de configuración primero</h1>
  </div>

{% endif %}


{% endblock %}