<div class="col-4 row text-center" id="configuration-form" style="padding-top: 2%; background-color: rgba(225, 235, 222, 0.8); font-family: Lora;">
<form >
    <h4>Datos de la Region donde se encuentra instalado el equipo</h4>

    <div class="form-group">
      <label for="exampleFormControlInput1">Provincia</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Ciudad</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Temperatura minima de la Zona</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="minimo historico promedio">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Temperatura maxima de la Zona</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="maximo historico promedio">
    </div>    
    <div class="form-group">
        <label for="exampleFormControlInput1">Humedad minima de la Zona</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="minimo historico promedio">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Humedad maxima de la Zona</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="maximo historico promedio">
    </div>    
    <div class="col text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <p><small> Atención: si completa y guarda el formulario mas de una vez, se sobre-escribirá el anterior </small></p>
    </div>
  </form>
</div>