{% extends "main/base.html" %}

{% load static %}

{% block content %}

{% if irrigationValues != null %}

<div style="width: 95%;   margin-left: auto; margin-right: auto;">
    <h1 style="color: beige; padding: 1%; margin-top: 2%; background-color:rgb(13, 56, 13); font-size:larger ;">Configuracion actual del Riego</h1>
        {% for s in irrigationValues %}

    <form action="" method="POST" style="background-color: gray;   text-align: justify;
    text-justify: inter-word;">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{s.id}}">
        <ul> 
        <div class="form-check form-switch">
            <input style= "width:3%;" name="automatico" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {% if s.automatico == "on" %}  checked {% endif %}>
            <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-left: 3%;">   Función de riego automatico habilitada</label>
        </div>
        </ul> 
        <ul> 
            <div class="form-check form-switch">
                <input style= "width:3%;" name="encendido" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"  {% if s.encendido == "on" %}  checked {% endif %}>
                <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-left: 3%;">Encender Riego</label>
                <small style="font-size: x-small;"> (Encienda o Apague el riego de forma manual por medio del boton) </small>
            </div>
        </ul> 
        <ul> 
            <div class="form-check form-switch">
                <input style= "width:3%;" name="riego_diurno" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {% if s.riego_diurno == "on" %}  checked {% endif %}>
                <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-left: 3%;">Riego Durante el día</label>
                <small style="font-size: x-small;"> (El Riego durante el día puede afectar el cultivo y aumentar las perdidas de agua por evapotranspiracion. Si deshabilita la opción el riego no ocurrirá durante el día) </small>
            </div>
        </ul> 
        <ul> <input  style= "width:3%; margin-left: 1%;" name="tiempo_maximo_riego" type="int" value="{{s.tiempo_maximo_riego}}" id="defaultCheck1"> Tiempo de Riego (min)
        <small style="font-size: x-small;"> (Tiempo maximo que desea que el riego automatico este encendido. El valor debe ser tal que en condiciones extremas de sequedad, se logre llegar a la humedad deseada)</small>
        </ul> 
        <ul> 
            <div class="form-check form-switch">
                <input style= "width:3%;"  name="envio_alertas" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {% if s.envio_alertas == "on" %}  checked {% endif %}>
                <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-left: 3%;">Envio de Alertas por email</label>
                <small style="font-size: x-small;"> (se enviaran alertas de encendido y apagado de riego a los usuarios registrados) </small>
            </div>
        </ul> 
        <ul>
            <div>
                <input  style= "width:3%; margin-left: 1%;" name="cantidad_dias_sin_lluvia" type="number" value="{{s.cantidad_dias_sin_lluvia}}" id="defaultCheck1"> Dias sin lluvia 
                <small style="font-size: x-small;">(Se pospondrá el inicio del riego si en los proximos "X" dias se anuncia lluvia) </small>
            </div>  
        </ul>
        <ul>
            <div style="text-align:center"><input type="submit" value="Editar" style="width: 150px; "></div>
        </ul>
    </form>    
    
        {% endfor %}

</div>


<div style="width: 95%;   margin-left: auto; margin-right: auto;">
    <h1 style="color: beige; padding: 1%; margin-top: 2%; background-color:rgb(13, 56, 13); font-size:larger ;">Datos Historicos de Riego</h1>

    <div style="width: 75%; background-color: rgb(210, 243, 156); margin-left: auto; margin-right: auto; margin-top: 2%;"  >
        <canvas id="irrigation-chart" data-url="{% url 'irrigation-chart' %}"></canvas>
      </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
    
      $(function () {
    
        var $populationChart = $("#irrigation-chart");
        $.ajax({
          url: $populationChart.data("url"),
          success: function (data) {
    
            var ctx = $populationChart[0].getContext("2d");
    
            dataToPrint = {
              labels: data.labels,
              datasets: [{
                type: 'bubble',
                label: "Duracion del Riego",
                data: data.duracion,
                borderColor: 'rgb(255,0,0)',
                backgroundColor: 'rgb(255,0,0)',
                tension: 1,
                radius: 5
              },
              {type: 'line',
                label: "Duracion maxima permitida",
                data: data.duracion_maxima,
                borderColor: 'rgb(51,255,51)',
                tension: 1,
              },
               {
                type: 'bubble',
                label: "Agua Utilizada",
                data: data.cantidad_agua,
                borderColor: 'rgb(0,0,255)',
                backgroundColor: 'rgb(0,0,255)',
                tension: 1,
                radius: 5
              },  {
                type: 'bar',
                label: "Humedad ganada",
                data: data.humedad_diferencia,
                borderColor: 'rgb(0, 0, 0)',
                backgroundColor: 'rgb(128, 128, 128)',
                borderWidth: 0.1,
                tension: 0.5
              }, 
              ]
            };
            
            new Chart(ctx, {
              type: 'linear',
              data: dataToPrint,
              options: {
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Historial de Riegos'
                },
                scales: {
                  xAxes: [{
                      position: 'bottom',
                      scaleLabel: {
                        display: true,
                        labelString: 'Fecha y Hora'
                      }
                  }],
                  yAxes: [{
                    scaleLabel: {
                      beginAtZero: true,
                    }
                }],
              }         
              }
            });
    
          }
        });
    
      });
    
    </script>
    <div style="margin-top:2% ;">
    <table class="table" style="background-color: gray;" >
        <tbody>
        <tr>
            <th scope="col">Fecha Riego</th>
            <th scope="col">Duración Riego</th>
            <th scope="col">Cantidad (L)</th>
            <th scope="col">Humedad antes</th>
            <th scope="col">Humedad despues</th>
        </tr>
        {% for s in irrigationHistory %}
        <tr>
            <td>{{s.fecha}}</td>
            <td>{{s.duracion}}</td>
            <td>{{s.cantidad_agua}}</td>
            <td>{{s.humedad_antes}}</td>
            <td>{{s.humedad_despues}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

</div>

{% else %}

  <div style="background-color: whitesmoke; margin-left: 3%; margin-right: 3%; margin-top: 2%;">
    <h1 style="text-align: center; text-decoration: black; font-size: x-large;">Dirigase al panel de configuración primero</h1>
  </div>

{% endif %}



{% endblock %}