{% extends "main/base.html" %}

{% load static %}

{% block content %}

<style>
#ul-weatherAPI  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#li-weatherAPI {
	float: left;
	padding-left:3%;
	margin-left:1%;
	padding-right:3%;
	margin-right:1%;
}

#li-weatherAPI a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
</style>

<div style="background-color:rgb(13, 56, 13); margin-top: 5%; width: 95%; margin-left: auto; margin-right: auto;">
	<h1 style="color: beige; margin: 1%; text-align: center;">Pronostico extendido {{city}}</h1>

		<div style="color: beige;">	
			<ul id="ul-weatherAPI" style="background-color: rgb(104, 94, 94);">
				{% for x,y in forcast_data_list.items%}
				<li id="li-weatherAPI" ><h4>{{y.day}}</h4>
					<h3>{{y.description}} </h3>

					<figure class="icons">
	<img src="http://openweathermap.org/img/wn/{{y.icon}}.png" alt="Image" width="100px">

					</figure>
					<h5>{{y.temperature}}°C</h5>
					<h6>Hum: {{y.humidity}} %</h6>
				</li>
				{% endfor%}
			</ul>
			<div class="clear"> </div>
		</div>
	</div>
</div>	
{{forecast_data_list}}


{% endblock %}
